<div id="aside" class="d-flex flex-column border-end" style="width: 4.5rem; height: 100vh;">
  <a class="py-3 text-center">
    <span>Logo</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a class="nav-link py-3">
        <i class="bd-orange-500 bi bi-house fs-5"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-3">
        <i class="bd-orange-500 bi bi-chat-dots fs-5"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-3">
        <i class="bd-orange-500 bi bi-bell fs-5"></i>
      </a>
    </li>
  </ul>
  <div class="dropdown py-3 border-top text-center">
    <a class="fs-5">
        <i class="bd-orange-500 bi bi-box-arrow-left"></i>
    </a>
  </div>
</div>
