<div *ngIf="user$ | async as userLogged">
    <div ngbDropdown #userDropMenu="ngbDropdown">
        <div ngbDropdownToggle class="w-50px h-50px rounded-circle border border-2 border-gray-300">
            <img class="h-100 w-100 rounded-circle" [src]="userLogged?.avatar" alt="" />
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig" style="z-index: 10000">
            <div class="card">
                <div class="card-body p-3 w-250px">
                    <div class="border-bottom pb-3 mb-3">
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <app-user-avatar [user]="userLogged" [size]="40"></app-user-avatar>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-bold fs-4">{{ userLogged?.name }}</span>
                                <!-- <span class="text-primary fs-8">Trang cá nhân</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 pb-3 border-bottom">
                        <div class="d-flex flex-column">
                            <a
                                routerLink="/profile/{{ userLogged?.id }}"
                                (click)="$event.stopPropagation(); userDropMenu.close()"
                                class="bg-hover-gray-200 text-gray-900 p-3 rounded-2"
                            >
                                <div class="d-flex flex-row align-items-center">
                                    <i class="ki-outline ki-user fs-5 me-2"></i>
                                    <span>Trang cá nhân</span>
                                </div>
                            </a>
                            <a
                                class="bg-hover-gray-200 text-gray-900 p-3 rounded-2"
                                (click)="$event.stopPropagation(); userDropMenu.close(); showChangePasswordModal()"
                            >
                                <div class="d-flex flex-row align-items-center">
                                    <i class="ki-outline ki-lock fs-5 me-2"></i>
                                    <span>Đổi mật khẩu</span>
                                </div>
                            </a>
                            <!-- <a
                                routerLink="/profile"
                                class="bg-hover-gray-200 text-gray-900 p-3 rounded-2"
                                (click)="$event.stopPropagation(); userDropMenu.close()"
                            >
                                <div class="d-flex flex-row align-items-center">
                                    <i class="ki-outline ki-night-day fs-5 me-2"></i>
                                    <span>Đổi màu giao diện</span>
                                </div>
                            </a> -->
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <a (click)="logout()" class="bg-hover-gray-200 text-gray-900 p-3 rounded-2">
                            <div class="d-flex flex-row align-items-center text-danger">
                                <i class="ki-outline ki-black-left-line text-danger fs-4 me-2"></i>
                                <span>Đăng xuất</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
