<div ngbDropdown #notificationDropMenu="ngbDropdown">
    <a
        class="cursor-pointer bg-hover-info rounded p-5 d-flex align-items-center justify-content-center"
        ngbDropdownToggle
        [attr.aria-expanded]="menuIsOpen ? true : false"
        aria-haspopup="true"
        [ngClass]="{ 'bg-info': menuIsOpen }"
    >
        <i class="ki-outline ki-notification fs-1 text-gray-200"></i>
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownConfig" style="z-index: 10000">
        <div class="card">
            <div class="card-body p-3 w-400px">
                <ng-container *ngFor="let i of [1, 2, 3, 4, 5]" [ngTemplateOutlet]="notiItem"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template let-user="user" #notiItem>
    <a class="cursor-pointer">
        <div class="d-flex flex-row bg-hover-gray-200 p-3 rounded">
            <div class="me-3">
                <app-user-avatar [size]="50"></app-user-avatar>
            </div>
            <div class="d-flex flex-column me-3">
                <span class="text-dark">
                    <a class="text-primary fw-bold">Nguyễn Duy Phúc</a> đã gửi cho bạn lời mời kết bạn</span
                >
                <span class="mt-2 text-gray-500 fs-7">2 phút trước</span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <div class="bg-primary border border-light rounded-circle" style="padding: 5px"></div>
            </div>
        </div>
    </a>
</ng-template>
