<div class="w-100 p-10">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <span class="fs-3 fw-bold">Danh sách bạn bè</span>
                <div class="w-400px">
                    <app-search-input></app-search-input>
                </div>
            </div>
            <div class="mt-10">
                <div class="row" *ngIf="friendsList">
                    <ng-container *ngFor="let friend of friendsList">
                        <div class="col-xl-6 col-12">
                            <app-friends-item
                                [friend]="friend"
                                [secondButtonTitle]="'Nhắn tin'"
                                [customClass]="'border border-gray-200'"
                                [customBody]="'px-5'"
                                [avatarSize]="60"
                            ></app-friends-item>
                        </div>
                    </ng-container>
                </div>
                <app-loading [isLoading$]="isLoading$"></app-loading>
            </div>
        </div>
    </div>
</div>
