<div class="friend-request mt-10">
    <div class="mb-8">
        <div class="text-start">
            <span class="fw-bold fs-2">Dánh sách lời mời</span>
        </div>
    </div>
    <ng-container *ngIf="friendsRequest">
        <ng-container *ngFor="let friend of friendsRequest">
            <div class="mb-5">
                <app-friends-item
                    [friend]="friend"
                    [secondButtonTitle]="'Xóa'"
                    (clickFirstButton)="acept($event)"
                    (clickSecondButton)="reject($event)"
                ></app-friends-item>
            </div>
        </ng-container>
    </ng-container>
    <app-loading [isLoading$]="isLoading$"></app-loading>
</div>
