<div style="width: 400px"></div>
<div class="border-end border-gray-300 h-100 bg-light position-fixed" style="width: 400px">
    <div class="p-4">
        <div class="mb-5">
            <span class="fs-1 fw-bolder text-primary">Bạn bè</span>
        </div>
        <div class="d-flex flex-column">
            <a routerLink="/friends/find" routerLinkActive="bg-gray-300" class="p-4 bg-hover-gray-300 rounded-2">
                <div class="d-flex flex-row align-items-center">
                    <i class="ki-outline ki-user-square fw-bold me-3 fs-2 text-dark"></i>
                    <span class="fs-4 text-dark fw-bold">Tìm bạn mới</span>
                </div>
            </a>
            <a routerLink="/friends/list" routerLinkActive="bg-gray-300" class="p-4 bg-hover-gray-300 rounded-2">
                <div class="d-flex flex-row align-items-center">
                    <i class="ki-outline ki-people fw-bold me-3 fs-2 text-dark"></i>
                    <span class="fs-4 text-dark fw-bold">Danh sách bạn bè</span>
                </div>
            </a>
            <a routerLink="/friends/request" routerLinkActive="bg-gray-300" class="p-4 bg-hover-gray-300 rounded-2">
                <div class="d-flex flex-row align-items-center">
                    <i class="ki-outline ki-user-edit fw-bold me-3 fs-2 text-dark"></i>
                    <span class="fs-4 text-dark fw-bold">Lời mời kết bạn</span>
                </div>
            </a>
        </div>
    </div>
</div>
