<div class="auth" style="">
    <div class="auth-container row">
        <div class="col-6 auth-background"></div>
        <div class="col-6 auth-form p-0">
            <div class="card h-100 card-form-custom" style="border: none !important;">
                <div class="card-body h-100 d-flex align-items-center justify-content-center">
                    <div class="w-100 px-4">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>