<div class="d-flex flex-column w-100 h-100">
    <div class="list-inbox-header d-flex flex-row align-items-center justify-content-between p-4">
        <div>
            <span class="fs-1 fw-bolder text-primary">Chat</span>
        </div>
        <div class="d-flex flex-row">
            <button
                [ngbTooltip]="'Tạo nhóm chat'"
                (click)="openCreateChatConversationModal()"
                class="btn btn-primary btn-icon rounded-circle"
            >
                <i class="ki-outline ki-plus fs-1 fw-bold"></i>
            </button>
            <!-- <div
                class="rounded-circle d-flex align-items-center justify-content-center"
                style="width: 32px; height: 32px; background-color: var(--bs-gray-300)"
            >
                <i class="ki-outline ki-notepad-edit fs-6"></i>
            </div> -->
        </div>
    </div>
    <div class="position-relative mb-3 px-2">
        <app-search-input></app-search-input>
    </div>
    <div class="d-flex flex-column px-2 flex-shrink-1" style="overflow-y: scroll">
        <ng-container *ngIf="conversation$ | async as conversations">
            <ng-container *ngFor="let conversation of conversations">
                <app-chat-list-item [conversation]="conversation" [ownerId]="ownerId"></app-chat-list-item>
            </ng-container>
        </ng-container>
        <app-loading [isLoading$]="isLoading$"></app-loading>
    </div>
    <div class="p-6 mt-auto border-top border-2 fw-bold text-center fs-5 text-info">Danh sách chat</div>
</div>
