<div class="d-flex flex-row h-100">
    <div class="d-flex flex-column w-100" style="height: 100vh">
        <div class="border-bottom flex-shrink-1 d-flex justify-content-between align-items-center p-3">
            <ng-container *ngIf="!(isLoading$ | async) && conversation$ | async as conversation; else singleTpl">
                <div class="ms-3 d-flex align-items-center flex-row">
                    <app-chat-image [size]="40" [image]="conversation.image"></app-chat-image>
                    <span class="ms-2 fs-6" style="font-weight: 500">{{ conversation.name }}</span>
                </div>
                <div class="chat-box-info me-3" (click)="showMenu()">
                    <i class="ki-solid ki-information-2 fs-2 text-info chat-box-info-icon"></i>
                </div>
            </ng-container>
            <ng-template #singleTpl>
                <ng-container *ngIf="user">
                    <div class="ms-3 d-flex align-items-center flex-row">
                        <app-chat-image [size]="40" [image]="user.user.avatar"></app-chat-image>
                        <span class="ms-2 fs-6" style="font-weight: 500">{{ user.user.name }}</span>
                    </div>
                    <div class="chat-box-info me-3" (click)="showMenu()">
                        <i class="ki-solid ki-information-2 fs-2 text-info chat-box-info-icon"></i>
                    </div>
                </ng-container>
            </ng-template>
            <div class="w-100 h-100 d-flex align-items-center justify-content-center" *ngIf="isLoading$ | async">
                <app-loading [isLoading$]="isLoading$"></app-loading>
            </div>
        </div>
        <div
            class="flex-grow-1 p-3 d-flex flex-column flex-column-reverse"
            style="overflow-y: scroll; background-color: var(--bs-gray-100)"
            infinite-scroll
            [scrollWindow]="false"
            (scrolled)="loadMessages(true)"
        >
            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container *ngFor="let item of messageContainers">
                    <app-chat-box-message
                        [messageContainer]="item"
                        class="d-content"
                        (sentMessageResponse)="setMessageResponse($event)"
                    ></app-chat-box-message>
                </ng-container>
            </ng-container>
            <div
                class="d-flex align-items-center flex-column justify-content-center mb-auto"
                *ngIf="!(isLoading$ | async) && conversation$ | async as conversation"
            >
                <app-chat-image class="pt-3" [image]="conversation.image" [size]="60"></app-chat-image>
                <span class="fs-4 pb-5 pt-1 fw-bold">{{ conversation.name }}</span>
                <a *ngIf="canViewMore" class="fs-7 pb-5 pt-1 text-primary cursor-pointer" (click)="loadMessages(true)"
                    >Xem thêm</a
                >
            </div>
        </div>

        <form class="border-top w-100 mt-auto" [formGroup]="form">
            <div class="px-5 pt-3 position-relative" *ngIf="messageResponse">
                <a
                    class="ki-solid ki-cross position-absolute cursor-pointer fs-1 top-0 end-0 mt-3 me-3"
                    (click)="deleteMessageResponse()"
                ></a>
                <div class="d-flex flex-column">
                    <span class="fs-5 fw-bold">Đang trả lời: {{ messageResponse.user.name }}</span>
                    <span class="fs-6 text-gray-500">{{ messageResponse.content }}</span>
                </div>
            </div>
            <div *ngIf="imgPreview" class="mx-16 mt-2 h-50px w-75px position-relative">
                <img [src]="imgPreview" alt="" class="h-100 w-100 rounded" style="background-size: contain" />
                <span
                    class="d-flex align-items-center justify-content-center p-1 cursor-pointer bg-gray-300 bg-hover-gray-400 rounded-circle position-absolute top-0 start-100 translate-middle"
                    (click)="cancelUploadImage()"
                >
                    <i class="ki-solid ki-cross text-danger"></i>
                </span>
            </div>
            <div class="p-5 w-100 d-flex flex-row">
                <div class="me-1 d-flex align-items-center justify-content-center">
                    <label
                        for="imageUpload"
                        class="rounded-circle d-flex align-items-center justify-content-center send-link"
                        [ngbTooltip]="'Đính kèm file'"
                    >
                        <i class="ki-solid ki-fasten text-primary fs-4"></i>
                    </label>
                    <input type="file" hidden id="imageUpload" (input)="readURL($event)" />
                </div>
                <div class="flex-grow-1">
                    <div class="position-relative comment d-flex align-items-center justify-content-center">
                        <textarea
                            #textarea
                            (keydown.enter)="sendMessage()"
                            formControlName="content"
                            placeholder="Aa"
                            type="text"
                            rows="1"
                            class="w-100 rounded-pill comment-input position-relative"
                            style="resize: none"
                            (input)="adjustTextareaHeight(_textarea)"
                        >
                        </textarea>

                        <div class="position-absolute top-50 end-0 translate-middle-y me-2">
                            <app-reaction (sendReaction)="addContent($event)"></app-reaction>
                        </div>
                    </div>
                </div>
                <div class="ms-1 d-flex align-items-center justify-content-center">
                    <div
                        *ngIf="!(isLoadSendMessage$ | async)"
                        class="rounded-circle d-flex align-items-center justify-content-center send-link"
                        [ngbTooltip]="'Gửi'"
                        (click)="sendMessage(); sendImageMessage()"
                    >
                        <i class="ki-solid ki-send text-primary fs-4"></i>
                    </div>
                    <app-loading [isLoading$]="isLoadSendMessage$"></app-loading>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="isShowMenu" class="border-start" style="width: 500px">
        <app-chat-box-menu [conversation]="conversation$ | async" [isLoading$]="isLoading$"></app-chat-box-menu>
    </div>
</div>
<!-- div -->
