<form class="" [formGroup]="form">
    <div class="text-center mb-3">
        <h3 class="fw-bold text-primary" (click)="show()">Đăng nhập</h3>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Tài khoản</label>
        <input type="text" class="form-control" formControlName="account" placeholder="Nhập tài khoản của bạn..." />
        <!-- <app-error-message-form
            [control]="form.controls['account']"
            [message]="'Bạn chưa nhập tài khoản!'"
        ></app-error-message-form> -->
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" formControlName="password" placeholder="******" />
    </div>
    <div class="mb-4 text-center">
        <span
            >Bạn chưa có tài khoản?
            <a routerLink="/auth/register" class="text-decoration-none">Đăng ký</a>
        </span>
    </div>

    <input type="text" ngbDatepicker>
    <div class="text-center">
        <button (click)="submit()" class="btn btn-info text-white fw-bold" type="submit" style="width: 180px">
            <span>Đăng nhập</span>
        </button>
    </div>
</form>
