<app-modal-header [title]="'Đổi mật khẩu'"></app-modal-header>
<form class="card" [formGroup]="form">
    <div class="card-body">
        <div class="form-group mb-5">
            <div class="form-label required">Mật khẩu cũ</div>
            <input
                type="text"
                class="form-control"
                formControlName="oldPassword"
                placeholder="******"
                [ngClass]="{
                'is-invalid': controls['oldPassword'].invalid,
                'is-valid': controls['oldPassword'].valid,
              }"
            />
            <app-error-message-form
                [control]="controls['oldPassword']"
                [message]="'Bạn chưa nhập mật khẩu!'"
                [validation]="'required'"
            ></app-error-message-form>
            <app-error-message-form
                [control]="controls['oldPassword']"
                [message]="'Mật khẩu phải tối thiểu 6 ký tự!'"
                [validation]="'minlength'"
            ></app-error-message-form>
            <app-error-message-form
                [control]="controls['oldPassword']"
                [message]="'Mật khẩu không được quá 16 ký tự!'"
                [validation]="'maxlength'"
            ></app-error-message-form>
        </div>
        <div class="form-group mb-5">
            <div class="form-label required">Mật khẩu mới</div>
            <input
                type="text"
                class="form-control"
                formControlName="password"
                placeholder="******"
                [ngClass]="{
                'is-invalid': controls['password'].invalid,
                'is-valid': controls['password'].valid,
              }"
            />
            <app-error-message-form
                [control]="controls['password']"
                [message]="'Bạn chưa nhập mật khẩu!'"
                [validation]="'required'"
            ></app-error-message-form>
            <app-error-message-form
                [control]="controls['password']"
                [message]="'Mật khẩu phải tối thiểu 6 ký tự!'"
                [validation]="'minlength'"
            ></app-error-message-form>
            <app-error-message-form
                [control]="controls['password']"
                [message]="'Mật khẩu không được quá 16 ký tự!'"
                [validation]="'maxlength'"
            ></app-error-message-form>
        </div>
        <div class="form-group mb-5">
            <div class="form-label required">Nhập lại mật khẩu mới</div>
            <input
                type="text"
                class="form-control"
                formControlName="cPassword"
                placeholder="******"
                [ngClass]="{
                'is-invalid': controls['cPassword'].invalid,
                'is-valid': controls['cPassword'].valid,
              }"
            />
            <app-error-message-form
                [control]="controls['cPassword']"
                [message]="'Bạn chưa nhập lại mật khẩu!'"
                [validation]="'required'"
            ></app-error-message-form>
            <app-error-message-form
                [control]="controls['cPassword']"
                [message]="'Mật khẩu phải tối thiểu 6 ký tự!'"
                [validation]="'minlength'"
            ></app-error-message-form>
            <app-error-message-form
                [control]="controls['cPassword']"
                [message]="'Mật khẩu không được quá 16 ký tự!'"
                [validation]="'maxlength'"
            ></app-error-message-form>
        </div>
    </div>
</form>
<app-modal-footer [buttonName]="'Đổi mật khẩu'" (submitModal)="submit()" [disabled]="form.invalid"></app-modal-footer>
