.message-item {
    div {
        background-color: var(--bs-gray-300);
        padding: 8px 16px;
        margin-bottom: 0.3rem;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    // &:first-child {
    //     div {
    //         border-top-left-radius: 1rem;
    //         border-bottom-left-radius: 0.5rem;
    //     }
    // }
    // &:last-child {
    //     div {
    //         border-top-left-radius: 0.5rem;
    //         border-bottom-left-radius: 1rem;
    //         margin-bottom: 0;
    //     }
    // }
}

.message-item-owner {
    div {
        padding: 8px 16px;
        margin-bottom: 2px;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    // &:first-child {
    //     div {
    //         border-top-right-radius: 2rem;
    //         border-bottom-right-radius: 0.5rem;
    //     }
    // }
    // &:last-child {
    //     div {
    //         border-top-right-radius: 0.5rem;
    //         border-bottom-right-radius: 1rem;
    //     }
    // }
}
.message-container {
    .message-tool {
        display: none;
    }
    &:hover {
        .message-tool {
            display: flex;
        }
    }
}
