.message-item {
    div {
        background-color: var(--bs-gray-300);
        padding: 8px 16px;
        margin-bottom: .3rem;
        border-radius: .5rem 1rem 1rem .5rem;
    }
    &:first-child {
        div {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: .5rem;
        }
    }
    &:last-child {
        div {
            border-top-left-radius: .5rem;
            border-bottom-left-radius: 1rem;
            margin-bottom: 0;
        }
    }
}

.message-item-owner {
    div {
        padding: 8px 16px;
        margin-bottom: 2px;
        border-radius: 50rem 10rem 10rem 50rem;
    }

    &:first-child {
        div {
            border-top-right-radius: 20rem;
            border-bottom-right-radius: 10rem;
        }
    }
    &:last-child {
        div {
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 20rem;
        }
    }
}
