<form class="">
    <div class="text-center mb-3">
        <h3 class="fw-bold text-primary" (click)="c()">Đăng ký</h3>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Họ và tên</label>
        <input type="text" class="form-control" placeholder="Nhập tên của bạn">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Tài khoản</label>
        <input type="text" class="form-control" placeholder="Nhập tài khoản của bạn...">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" placeholder="******">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Nhập lại mật khẩu</label>
        <input type="password" class="form-control" placeholder="******">
    </div>
    <div class="mb-4 text-center">
        <span>Bạn đã có tài khoản?
            <a routerLink="/auth/login" class="text-decoration-none">Đăng nhập</a>
        </span>
    </div>
    <div class="text-center">
        <button class="btn btn-info text-white fw-bold" style="width: 180px;">
            <span>Đăng ký</span>
        </button>
    </div>
</form>